*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
 background: rgb(71, 67, 65);
  
}

.pomodoro{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1024px){
  .pomodoro{
    flex-direction: column;
    flex: 4;
  }

  .pomodoro button{
    font-size: 1.7rem;
  }
}

@media (max-height: 506px){
  .pomodoro button{
    font-size: 1rem;
  }
}